body{
    background-color: #F8F4EC;
    height: 100%;
    margin: 0px;
}
.header{
    height: 100vh;
    margin: 0;
    width: 100%;
    background-color: #D63484;
}
.title-text{
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    color: white;
    font-size: 5.625rem;
    font-family:  cursive;
    text-align: center;
}
.work{
    color: white;
    font-size: 3.625rem;
    font-family:  cursive;
    text-align: center;
}
.intro{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.intro img{
    margin-top: 150px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.hello{
    font-size: 3.5rem;
    color: #D63484;
    font-family:  cursive;
}
.intro p{
    font-size: 2.5rem;
    font-family: cursive;
    text-align: center;
    margin: 20px 40px;
    width: 40%;
}
.card-image{
    height: 300px;
    width: 450px;
}
.skills{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
}
.design{
    border: 5px solid #402B3A;
    border-radius: 10px;
    width: 450px;
    text-align: left;
}
#skll{
    font-size: 3.5rem;
    color: #D63484;
    font-family:  cursive;   
}
.design h3{
    margin: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
}
.design p{
    margin: 10px 20px;
    font-size: 1.5rem;
}
.contact{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.contact h2{
    color: #D63484;
    margin-bottom: 0;
    font-size: 3.5rem;
}
.contact p{
    font-size: 2.5rem;
    margin-top: 0;
    width: 40%;
}
@media (max-width: 1200px){
    .cards{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #skll{
        font-size: 2.5rem;
    }
    .intro p{
        font-size: 1.75rem;
    }
    .hello{
        font-size: 2.5rem;
    }
    .name{
        font-size: 4rem;
    }
    .work{
        font-size: 2.5rem;
    }
    .contact p{
        font-size: 1.5rem;
        width: 60%;
    }
}
@media (max-width: 600px){
    .design{
        width: 300px;
    }
    .card-image{
        width: 300px;
        height: 200px;
    }
}